{% extends "base.html" %}
{% block start %}

<link rel="stylesheet" href="/static/css/home.css">

<div class="video-container">
    <video autoplay muted loop id="video-bg">
        <source src="/static/videos/sample.mp4" type="video/mp4">
    </video>
    <div class="content">
        <p class="p-main"><b>The Future of AI driven Fitness is here</b></p>
        <p class="p-secondary">FoF provides affordable expert training by uniting advanced Artificial Intelligence, industry leading coaches, world-class athletes, and cutting-edge research.</p>
        <button class="get-started-btn">GET STARTED</button>
    </div>
</div>

<div class="heading-text">
    <h2>Hear from our valuable customers</h2>
</div>

<div class="reviews-container">
    <div class="review-card">
        <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
        <p class="review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quasi modi, neque exercitationem nesciunt quos architecto animi eum labore dolorum itaque optio libero est debitis eos. Nisi rem illum perferendis!</p>
        <p class="review-name">binaksl123</p>
    </div>
    <div class="review-card">
        <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
        <p class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, nihil aliquam itaque sint necessitatibus atque tempore sed ex doloribus illo consectetur sequi ducimus porro totam deleniti aperiam hic cum nemo!</p>
        <p class="review-name">binaksl123</p>
    </div>
    <div class="review-card">
        <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
        <p class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit cum velit cupiditate nostrum numquam unde quo sed quae, enim quasi corrupti deleniti vitae at dolores ratione iste rem sint ea.</p>
        <p class="review-name">binaksl123</p>
    </div>
    <div class="review-card">
        <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
        <p class="review-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus in reiciendis recusandae officiis, ipsam, sed molestias nam vitae necessitatibus vero unde architecto quaerat placeat voluptatibus odit nulla dolorum, itaque incidunt.</p>
        <p class="review-name">binaksl123</p>
    </div>
    <div class="review-card">
        <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
        <p class="review-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga quia rerum delectus. Commodi explicabo nemo veritatis doloribus voluptatum dolorem porro qui ea ex? Doloremque eum, necessitatibus saepe possimus quaerat animi?</p>
        <p class="review-name">binaksl123</p>
    </div>
    <div class="review-card">
        <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
        <p class="review-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga quia rerum delectus. Commodi explicabo nemo veritatis doloribus voluptatum dolorem porro qui ea ex? Doloremque eum, necessitatibus saepe possimus quaerat animi?</p>
        <p class="review-name">binaksl123</p>
    </div>
    <div class="review-card">
        <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
        <p class="review-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga quia rerum delectus. Commodi explicabo nemo veritatis doloribus voluptatum dolorem porro qui ea ex? Doloremque eum, necessitatibus saepe possimus quaerat animi?</p>
        <p class="review-name">binaksl123</p>
    </div>
    <!-- Add more review cards as needed -->
</div>

{% endblock %}
