{% extends "base.html" %}
{% block start %}

<div class="sign-up">
    <div class="container">
        <div class="block-wrapper">
            <div class="content-block">
                <div class="page-title">
                    <h1>Create Account</h1>
                </div>
                <div class="description">
                    <p>Level up your fitness journey now with industry leading AI, coaches, athletes, and researchers to
                        guide you.</p>
                </div>
                <form action="">
                    <div class="form-group">
                        <label for="name">
                            <input type="name" name="name" class="form-control" id="name"
                                   placeholder="Enter your name">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="email">
                            <input type="email" name="email" class="form-control" id="email"
                                   placeholder="Enter your email">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            <input type="password" name="password" class="form-control" id="password"
                                   placeholder="Enter your password">
                        </label>
                    </div>
                    <div class="form-group choice">
                        <input type="checkbox" name="policy" id="policy">
                        <label for="policy">I agree to the <a href="#">Terms of Use</a>, <a href="#">Health
                            Disclaimer</a>, and
                            <a href="#">Privacy Policy</a></label>
                    </div>
                    <input type="submit" value="Submit">
                    <p><span>Already a member?</span><a href="/sign-in">Sign in</a></p>
                </form>
            </div>
            <div class="image-block">
                <img src="/static/images/phone.webp" alt="Phone">
                <div class="overlay">
                    <img src="/static/images/account-overlay.png" alt="Overlay">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}