@mixin flex-c {
  display: flex;
  align-items: center;
}

@mixin flex-c-c {
  @include flex-c;
  justify-content: center;
}

@mixin flex-c-sb {
  @include flex-c;
  justify-content: space-between;
}