.user-dashboard {
  @media (max-width: 992px) {
    margin-top: 110px;
  }

  .app-header {
    &.header-shadow {
      @media (min-width: 992px) {
        display: none;
      }
    }
  }

  .app-sidebar.sidebar-shadow {
    @media (max-width: 992px) {
      margin-top: -40px !important;
    }
  }

  .closed-sidebar {
    .app-sidebar {
      .app-sidebar__inner {
        ul {
          li a {
            @media (max-width: 1249px) {
              padding: 0;
              text-align: center;
              text-indent: unset;
            }
          }
        }
      }
    }
  }

  .personal-details {
    background: #191924;
    color: $color-1;
    padding: 20px;
    margin-bottom: 2rem;

    .description {
      opacity: 0.6;
    }

    .fitness-details {
      .details-wrapper {
        @include flex-c;
        @media screen and (max-width: 1333px) and (min-width: 992px) {
          flex-direction: column;
        }
        @include breakpoint(md_mobile) {
          flex-direction: column;
        }

        > * {
          @media screen and (max-width: 1333px) and (min-width: 992px) {
            width: 100%;
          }
          @include breakpoint(md_mobile) {
            width: 100%;
          }
        }

        .step-count {
          text-align: center;
          padding: 56px 40px;
          background-color: #4762f1;
        }

        .diet-details {
          @include flex-c;
          flex-wrap: wrap;

          > * {
            width: 50%;
            padding: 15px;
            @include breakpoint(md_mobile) {
              padding: 8px;
            }
          }

          .title {
            @include flex-c-sb;
            flex-direction: row-reverse;
          }

          .carbs,
          .fat {
            background-color: #1f212a;
          }
        }
      }
    }
  }
}