@mixin button-default {
  @include flex-c-c;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

@mixin secondary-button {
  @include button-default;
  padding: 12px 30px;
  color: $color-1;
  font-weight: 600;
  background-color: rgb(6, 12, 33);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;

  &:hover {
    color: $color-1;
    background-color: rgba(6, 12, 33, 0.72);
  }
}

.secondary-button {
  @include secondary-button;
}