* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1320px;
}

.tagline-text {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 600;
  color: #ff00b8;
}

.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  padding: 12px 30px;
  color: #fff;
  font-weight: 600;
  background-color: rgb(6, 12, 33);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}
.secondary-button:hover {
  color: #fff;
  background-color: rgba(6, 12, 33, 0.72);
}

footer {
  background-color: #060c21;
  padding: 5rem 0;
}
footer .page-footer {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  footer .page-footer {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  footer .page-footer .block-one {
    text-align: center;
    margin-bottom: 1rem;
  }
}
footer .page-footer .block-one .logo {
  font-family: "Audiowide", sans-serif;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
}
footer .page-footer .block-one .social-links ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -12px 0 0 -12px;
  list-style: none;
  padding: 0;
}
@media (max-width: 1024px) {
  footer .page-footer .block-one .social-links ul {
    justify-content: center;
  }
}
footer .page-footer .block-one .social-links ul li {
  padding: 12px 0 0 12px;
}
footer .page-footer .block-one .social-links ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f1ff;
  border-radius: 8px;
  transition: all 0.3s ease;
  min-width: 36px;
  min-height: 36px;
}
footer .page-footer .block-one .social-links ul li a svg {
  width: 18px;
  height: 18px;
}
footer .page-footer .block-one .social-links ul li a:hover {
  transform: scale(0.92);
}
footer .page-footer .block-two {
  margin-left: auto;
}
@media (max-width: 1024px) {
  footer .page-footer .block-two {
    margin-left: 0;
  }
}
footer .page-footer .block-two .footer-links {
  margin-bottom: 1rem;
}
footer .page-footer .block-two .footer-links ul {
  margin: -16px 0 0 -16px;
}
footer .page-footer .block-two .footer-links ul li {
  padding: 16px 0 0 16px;
}
footer .page-footer .block-two .footer-links ul li a {
  opacity: 0.72;
  color: #fff;
  text-transform: none;
  font-size: 0.875rem;
  text-decoration: none;
  transition: all 0.2s;
}
footer .page-footer .block-two .available-list {
  margin-bottom: 2rem;
}
footer .page-footer .block-two .available-list ul {
  margin: -30px 0 0 -30px;
}
footer .page-footer .block-two .available-list ul li {
  padding: 30px 0 0 30px;
}
footer .page-footer .block-two .available-list ul li a img {
  display: block;
  width: 100%;
  max-width: 150px;
  border: 2px solid #fff;
  border-radius: 12px;
}
footer .page-footer .block-two .policy-links a {
  color: #3068ff;
  margin-left: 1.5rem;
  margin-right: 0;
  font-size: 0.875rem;
  text-decoration: none;
}
footer .page-footer .block-two ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  padding: 0;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  footer .page-footer .block-two ul {
    justify-content: center;
  }
}
footer .copyright {
  color: #fff;
  margin-top: 1rem;
  font-size: 0.875rem;
}
@media (max-width: 1024px) {
  footer .copyright {
    text-align: center;
  }
}
footer .copyright p {
  margin: 0;
}

.training-potential {
  padding: 40px 0;
}
.training-potential .block-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .training-potential .block-wrapper {
    justify-content: center;
  }
}
.training-potential .block-wrapper > * {
  width: 50%;
}
@media (max-width: 1024px) {
  .training-potential .block-wrapper > * {
    width: 100%;
    text-align: center;
  }
}
.training-potential .block-wrapper .image-block {
  position: relative;
}
@media (max-width: 1024px) {
  .training-potential .block-wrapper .image-block {
    margin-bottom: 2rem;
  }
}
.training-potential .block-wrapper .image-block img {
  position: relative;
  z-index: 1;
}
.training-potential .block-wrapper .image-block .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: scale(2);
}
@media (max-width: 1024px) {
  .training-potential .block-wrapper .image-block .overlay {
    transform: scale(1);
  }
}
.training-potential .block-wrapper .title {
  max-width: 500px;
}
.training-potential .block-wrapper .title h1 {
  color: #fff;
}
.training-potential .block-wrapper .description {
  color: #a3a3cc;
  margin: 20px 0;
}
.training-potential .block-wrapper a {
  display: inline-block;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
  background-color: #060c21;
  padding: 12px 30px;
  border: 3px solid #650aff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.analysis-section img {
  width: 100%;
}

.benefits-section {
  padding: 40px 0;
}
.benefits-section .content-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.benefits-section .content-wrapper > * {
  width: 50%;
}
@media (max-width: 1024px) {
  .benefits-section .content-wrapper > * {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .benefits-section .content-wrapper .block-one {
    text-align: center;
    margin-bottom: 1rem;
  }
}
.benefits-section .content-wrapper .block-one .title {
  max-width: 550px;
}
@media (max-width: 1024px) {
  .benefits-section .content-wrapper .block-one .title {
    max-width: 100%;
  }
}
.benefits-section .content-wrapper .block-one .title h2 {
  color: #fff;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}
@media (max-width: 1024px) {
  .benefits-section .content-wrapper .block-one .title h2 {
    font-size: 1.5rem;
  }
}
.benefits-section .content-wrapper .block-two p {
  margin: 0;
}
.benefits-section .content-wrapper .block-two > *:not(div:last-child) {
  margin-bottom: 15px;
}
.benefits-section .content-wrapper .block-two .accordion-wrapper {
  padding: 20px;
  transition: all 0.25s;
}
@media (max-width: 1024px) {
  .benefits-section .content-wrapper .block-two .accordion-wrapper {
    padding: 10px;
  }
}
.benefits-section .content-wrapper .block-two .accordion-wrapper:hover, .benefits-section .content-wrapper .block-two .accordion-wrapper.active {
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 6px;
}
.benefits-section .content-wrapper .block-two .accordion-wrapper .accordion-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  letter-spacing: 0.25px;
  white-space: normal;
  padding: 20px 40px 20px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .benefits-section .content-wrapper .block-two .accordion-wrapper .accordion-tab {
    padding: 10px 30px 10px 0;
  }
}
.benefits-section .content-wrapper .block-two .accordion-wrapper .accordion-tab::after {
  display: block;
  content: "";
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="%23650aff" d="M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z"%2F%3E%3C%2Fsvg%3E');
  -webkit-background-size: 24px;
  background-size: 24px;
  width: 24px;
  height: 24px;
  min-width: 24px;
}
.benefits-section .content-wrapper .block-two .accordion-wrapper .accordion-tab.active::after {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="%23650aff" d="M19 12.998H5v-2h14z"%2F%3E%3C%2Fsvg%3E');
}
.benefits-section .content-wrapper .block-two .accordion-wrapper .accordion-content {
  display: none;
}
.benefits-section .content-wrapper .block-two .accordion-wrapper .accordion-content p {
  letter-spacing: 0.5px;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  line-height: 1.65;
  font-size: 1rem;
  color: #fff;
}

.team-section .block-info {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.team-section .block-info .title h1 {
  color: #fff;
}
.team-section .section-padding {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 80px 0;
  overflow: hidden;
}
.team-section .team_slider .owl-item .item {
  transform: translate3d(0, 0, 0); /* DO NOT REMEMBER WHERE TU PUT THIS, SEARCH FOR 3D ACCELERATION */
  margin: 50px 0; /* OVERWRITE PLUGIN MARGIN */
}
.team-section .team_slider .owl-item .item .team {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  color: #fff;
  filter: grayscale(100%);
}
.team-section .team_slider .owl-item .item .team .image {
  position: relative;
  margin-bottom: 1rem;
}
.team-section .team_slider .owl-item .item .team .image > img {
  position: relative;
  z-index: 2;
}
.team-section .team_slider .owl-item .item .team .image .overlay img {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.team-section .team_slider .owl-item.center .item .team {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  filter: grayscale(0%);
}

.pricing-section {
  margin-bottom: 4rem;
}
.pricing-section .pricing-section-wrapper {
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 12px;
  padding: 3.5rem;
}
@media (max-width: 768px) {
  .pricing-section .pricing-section-wrapper {
    padding: 2rem;
  }
}
.pricing-section .pricing-section-wrapper .details {
  text-align: center;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .pricing-section .pricing-section-wrapper .details {
    margin-bottom: 1rem;
  }
}
.pricing-section .pricing-section-wrapper .details .title {
  color: #fff;
  max-width: 650px;
  margin: 0 auto;
}
.pricing-section .pricing-section-wrapper .pricing-list {
  display: flex;
  flex-wrap: wrap;
}
.pricing-section .pricing-section-wrapper .pricing-list > * {
  width: 33.33%;
}
@media (max-width: 768px) {
  .pricing-section .pricing-section-wrapper .pricing-list > * {
    width: 100%;
    text-align: center;
  }
}
.pricing-section .pricing-section-wrapper .pricing-list > * > * {
  max-width: 350px;
  margin: 0 auto;
  padding: 35px;
}
.pricing-section .pricing-section-wrapper .pricing-list > *.six-month {
  background-color: #060c21;
  position: relative;
}
.pricing-section .pricing-section-wrapper .pricing-list > *.six-month .price-card::before {
  display: block;
  content: "RECOMMENDED";
  background-image: linear-gradient(93deg, #650aff, #3068ff);
  color: #fff;
  letter-spacing: 1px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  width: fit-content;
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.pricing-section .pricing-section-wrapper .pricing-list .price-card .title {
  color: #04e2e7;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 600;
}
.pricing-section .pricing-section-wrapper .pricing-list .price-card .title p {
  margin: 0;
}
.pricing-section .pricing-section-wrapper .pricing-list .price-card .price h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}
.pricing-section .pricing-section-wrapper .pricing-list .price-card .price .discount {
  color: #a3a3cc;
  font-size: 1.25rem;
}
.pricing-section .pricing-section-wrapper .pricing-list .price-card .description {
  color: #a3a3cc;
  margin-top: 5px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  line-height: 1.65;
}
.pricing-section .pricing-section-wrapper .pricing-list .price-card .actions-toolbar a {
  background-image: linear-gradient(91deg, #650aff, #3068ff);
  letter-spacing: 1px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
}

.cta-announcement {
  background-color: transparent;
  background-image: linear-gradient(152deg, #650aff, #3068ff);
  padding: 30px 0;
}
.cta-announcement .container {
  max-width: 1000px;
}
.cta-announcement .cta-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .cta-announcement .cta-content-wrapper {
    flex-direction: column;
  }
}
.cta-announcement .cta-content-wrapper h3 {
  color: #fff;
}
@media (max-width: 768px) {
  .cta-announcement .cta-content-wrapper h3 {
    margin-top: 5px;
  }
}

@media (max-width: 992px) {
  .user-dashboard {
    margin-top: 110px;
  }
}
@media (min-width: 992px) {
  .user-dashboard .app-header.header-shadow {
    display: none;
  }
}
@media (max-width: 992px) {
  .user-dashboard .app-sidebar.sidebar-shadow {
    margin-top: -40px !important;
  }
}
@media (max-width: 1249px) {
  .user-dashboard .closed-sidebar .app-sidebar .app-sidebar__inner ul li a {
    padding: 0;
    text-align: center;
    text-indent: unset;
  }
}
.user-dashboard .personal-details {
  background: #191924;
  color: #fff;
  padding: 20px;
  margin-bottom: 2rem;
}
.user-dashboard .personal-details .description {
  opacity: 0.6;
}
.user-dashboard .personal-details .fitness-details .details-wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1333px) and (min-width: 992px) {
  .user-dashboard .personal-details .fitness-details .details-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .user-dashboard .personal-details .fitness-details .details-wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 1333px) and (min-width: 992px) {
  .user-dashboard .personal-details .fitness-details .details-wrapper > * {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .user-dashboard .personal-details .fitness-details .details-wrapper > * {
    width: 100%;
  }
}
.user-dashboard .personal-details .fitness-details .details-wrapper .step-count {
  text-align: center;
  padding: 56px 40px;
  background-color: #4762f1;
}
.user-dashboard .personal-details .fitness-details .details-wrapper .diet-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.user-dashboard .personal-details .fitness-details .details-wrapper .diet-details > * {
  width: 50%;
  padding: 15px;
}
@media (max-width: 640px) {
  .user-dashboard .personal-details .fitness-details .details-wrapper .diet-details > * {
    padding: 8px;
  }
}
.user-dashboard .personal-details .fitness-details .details-wrapper .diet-details .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.user-dashboard .personal-details .fitness-details .details-wrapper .diet-details .carbs,
.user-dashboard .personal-details .fitness-details .details-wrapper .diet-details .fat {
  background-color: #1f212a;
}

/*# sourceMappingURL=style.css.map */
